
<div class="splash container-fluid d-flex h-75">
  <header class="row">
    <h1 class="col-3">RecipeDB</h1>
    <div class="auth col-1">
      <% if @logged_in_user.nil? %>
        <%= button_to("Login", controller: "sessions", action: "new") %>
      <% else %>
        <h4> Welcome back, <%= @logged_in_user.first_name %></h4>
        <%= button_to("Logout", login_path, :method => :delete) %>
      <% end %>
    </div>
  </header>
  
  <div class="search-bar row">
    <%= form_with(url: "/search", method: "get") do %>
      <%= text_field_tag(:ingredient_name) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>